@* Шаблон генерации абсолютной ссылки, открывающейся в новом окне *@
@{
    //todo: Придумать адекватный метод получения абсолютной ссылки в зависимости от hostname сайта
    var url = $@"{Context.Request.Host}/{ViewData.Model}";
}
<a href="//@url" target="_blank">https://@url</a>